extends layout 
 
block content 
  h1= title 
 
  form(id='HatForm', action="/resource/hat", method="POST") 
    div.form-group 
        label.hatAttr(for='hat_name') Hat name
        input#hat_name(type='text', name='hat_name') 
    div.form-group 
        label.hatAttr(for='colour') Hat colour 
        input#colour(type='text', name='colour') 
    div.form-group 
        label.hatAttr(for='price') Hat price 
        input#price(type='text', name='price') 
    input(type="submit") 
 
  script.
    document.forms['HatForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 